* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Oswald';
    width: 100%;
    min-height: 100vh;
}

.row .imgWrapper {
    overflow: hidden;
}

.row .imgWrapper img {
    object-fit: cover;
    transition: 0.3s;
}

.row .imgWrapper:hover img {
    transform: scale(1.15);
}

.squares {
    font-family: serif;
}

.thumbnail {
    width: 90%;
}

.btn {
    background-color: #000; 
    border-radius: 0 !important; 
    color: white;
}

.description {
    padding-top: 20px;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    font-family: serif;
}

.project:hover {
    transform: scale(1.05);
    transition: 0.2s;
}